/*---- Variabler ----*/

$primaryBgColor: #FEF3E8;
$contactBgColor: #E8ECD1; /*---- Husk outline i mixin ----*/
$choiceBgColor: #FBCEB1;
$coreBgColor: #B1BCA0;
$stickerBgColor: #FFE6D6;
$actionRoomBgColor: #DE5B23; /*---- Bruges også til handlingsrelaterede knapper ----*/
$textColor: #0F201B; /*---- Bruges også til dropshadow & outline ----*/
$navCTAColor: #0C3A2D;
$outlineColor: rgba(15, 32, 27, 0.6); /*---- Bruges til kort/knap-outline ----*/
$dropshadowColor: rgba(15, 32, 27, 0.4); /*---- Bruges til kort-dropshadow ----*/
$headingFont: 'Nova Flat';
$regularFont: 'Manrope';
$buttonFont: 'Outfit';

/*---- Vækstrums variabel farver ----*/

$someColor: #5AD8CC;
$visualColor: #FFE0C2;
$brandingColor: #F24822;
$webDevelopmentColor: #3DADFF;
$marketingColor: #DCCCFF;
$productDevelopmentColor: #66D575;