/*---- Variabler ----*/

$primaryBgColor: #FEF3E8;
$contactBgColor: #E8ECD1; /*---- Husk outline i mixin ----*/
$choiceBgColor: #FBCEB1;
$coreBgColor: #B1BCA0;
$stickerBgColor: #FFE6D6;
$actionRoomBgColor: #DE5B23;
$textColor: #0F201B; /*---- Bruges også til dropshadow & outline ----*/
$navCTAColor: #0C3A2D;
