@use 'colors';

#site-header {
    position: relative;
     background-color: colors.$navCTAColor;
}

.header-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .header-logo img {
        width: 60px;
        height: auto;
        margin: 25px;
    }

    .header-title {
        font-family: "Nova Flat", sans-serif;
        font-size: 24px;
        margin: 0;
    }

    .map-button {
        font-family: "Nova Flat", sans-serif;
        font-size: 18px;
        padding: 8px 16px;
        margin: 25px;
    }
}

.map-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    min-height: 250px;
    background-color: colors.$primaryBgColor;

    .map-nav {
        position: relative;
        width: 100%;
        min-height: 250px;

        .map-place {
            position: absolute;
            display: flex;
            align-items: center;
            font-family: colors.$regularFont;
            text-decoration: none;
            color: colors.$textColor;
        }

        .map-place-front {
            position: absolute;
            left: 12%;
            top: 7%;
        }

        .map-place-about {
            left: 67%;
            top: 20%;
        }

        .map-place-contact {
            left: 75%;
            top: 35%;
        }

        .map-place-reception {
            left: 20%;
            top: 39%;
        }

        .map-place-questions {
            left: 3%;
            top: 60%;
        }

        .map-place-proeverum {
            left: 55%;
            top: 76%;
        }

        .map-place-library {
            left: 40%;
            top: 60%;
        }
    }
}