@use 'vaekstrum';
@use 'colors';

*{
    box-sizing: border-box;
    margin: 0;
}

header{
    background-color: colors.$navCTAColor;

    .logo{
        width: 70px;
        height: auto;
        margin: 20px;
    }
}